html, body {
  height: 100%;
  margin: 0;
  background:	#DCDCDC;
  font-family: 'Source Sans Pro', sans-serif;
}

.main{
  margin: auto;
  height: 40%;
  width: 35%;
}

.main .background-image{
height: 100%;
width: 100%;
}

.content{
  margin: auto;
  height: 65%;
  width: 35%;
  background: white;
  border-radius:20px 20px 0px 0px;
  margin-top: -40px;
}

.header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title{
  margin-left: 10px;
  margin-top: 20px;
  font-size:  60px;
  color: rgb(75,0,130);
}
.dots{
  display: flex;
  align-items: center;
    font-size:  60px;
  color: rgb(75,0,130);
}

.inside-dots{
  height: 100%;
  width: 100%;
}

.glyphicon, .follow{
  color:  rgb(75,0,130);
  font-size: 20px;
}

.key{
  color:  rgb(75,0,130);
  font-size: 33px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.patents-number, .followers-number, .following-number, .patents, .followers, .following{
  width: 30%;
}

