html, body {
  height: 100%;
  margin: 0;
  background:	#DCDCDC;
  font-family: 'Source Sans Pro', sans-serif;
  color:  rgb(75,0,130);
}

.main{
  margin: auto;
  height: 40%;
  width: 600px;
  color: white;
  margin-top:10px;
  margin-bottom: 20px;
}

.main .background-image{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position:30% 10%;
  }

.back{
  font-size: 25px;
  margin-top: -290px;
  margin-left: -60px;
}

.content{
  margin: auto;
  height: 650px;
  width: 600px;
  background: white;
  border-radius:20px 20px 0px 0px;
  margin-top: -40px;
}

.header{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title{
  margin-left: 10px;
  margin-top: 20px;
  font-size:  60px;
}
.dots{
  display: flex;
  margin-top: 30px;
  font-size:  30px;
}

.glyphicon, .follow{
  font-size: 20px;
  margin-left: 80px;
}

.plus, .follow{
  display:inline;
}

.plus{
  margin-left: 80px;
  border-style: solid;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
}

.follow{
  margin-left: 10px;
}

.key{
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.patents-number, .followers-number, .following-number, .patents, .followers, .following{
  width: 30%;
}

.patents, .followers, .following{
  margin-top: -10px;
font-size: 17px;
}

.categories{
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.devices, .design, .transportation{
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
}

.arrows{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.glyphicon-menu-right{
  margin-top: 5px;
  margin-right: 10px;
}

hr{
  width: 580px;
  height: 1px;
  background-color:  rgb(75,0,130);
  border: 0;
  margin-bottom: 20px;
}

@media (max-width: 900px) {

  .main{
    margin: auto;
    height: 40%;
    width: 320px;
  }

  .content{
    margin: auto;
    height: 650px;
    width: 320px;
    margin-top: -40px;
  }

  hr{
    width: 300px;
  }

  .main .background-image{
    background-position:20% 10%;
    }

    .title{
      font-size:  35px;
    }

    .dots{
      display: flex;
      margin-top: 25px;
      font-size:  17.5px;
    }

    .plus{
      margin-left: 35px;
    }
    

}